/* dejar el main mas grande */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}
/* aqui termina */

h2{
    font-family: 'Courier New';
color: red;
}

.btn{
    margin-left: 100px;
}